---
---

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a href="/" class="navbar-brand" id="container-fluid-id">NS Blog</a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/about/" class="nav-item nav-link">Profile</a>
                <a href="/blog/" class="nav-item nav-link">Messages</a>
                <a href="/posts/post1" class="nav-item nav-link " tabindex="-1">Post 1</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a href="/login/" class="nav-item nav-link">Login</a>
            </div>
        </div>
    </div>
    <style>
        .navbar-brand{
            font-family: 'Sassy Frass', cursive;
        }
        .container-fluid{
            margin-left: 20px;
        }
        #container-fluid-id{
            text-decoration: none;
            cursor: auto;
        }

        @media only screen and (max-width: 991px) {
            #container-fluid-id{
                margin-left: 40%;
                font-size: 3rem;
            }
        }
    </style>
</nav>